<app-word-card [flashcards]="flashcards"></app-word-card>
<app-verb-table [verbConjugations]="verbConjugations"></app-verb-table>
 <app-construct-question [promptText]="qTellFriend1" [correctSentence]="correctSentence1"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend2" [correctSentence]="correctSentence2"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend3" [correctSentence]="correctSentence3"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend4" [correctSentence]="correctSentence4"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend5" [correctSentence]="correctSentence5"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend6" [correctSentence]="correctSentence6"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend7" [correctSentence]="correctSentence7"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend8" [correctSentence]="correctSentence8"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend9" [correctSentence]="correctSentence9"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend10" [correctSentence]="correctSentence10"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend11" [correctSentence]="correctSentence11"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend12" [correctSentence]="correctSentence12"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend13" [correctSentence]="correctSentence13"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend14" [correctSentence]="correctSentence14"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend15" [correctSentence]="correctSentence15"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend16" [correctSentence]="correctSentence16"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend17" [correctSentence]="correctSentence17"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend18" [correctSentence]="correctSentence18"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend19" [correctSentence]="correctSentence19"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend20" [correctSentence]="correctSentence20"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend21" [correctSentence]="correctSentence21"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend22" [correctSentence]="correctSentence22"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend23" [correctSentence]="correctSentence23"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend24" [correctSentence]="correctSentence24"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend25" [correctSentence]="correctSentence25"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend26" [correctSentence]="correctSentence26"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend27" [correctSentence]="correctSentence27"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend28" [correctSentence]="correctSentence28"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend29" [correctSentence]="correctSentence29"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend30" [correctSentence]="correctSentence30"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend31" [correctSentence]="correctSentence31"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend32" [correctSentence]="correctSentence32"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend33" [correctSentence]="correctSentence33"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend34" [correctSentence]="correctSentence34"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend35" [correctSentence]="correctSentence35"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend36" [correctSentence]="correctSentence36"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend37" [correctSentence]="correctSentence37"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend38" [correctSentence]="correctSentence38"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend39" [correctSentence]="correctSentence39"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend40" [correctSentence]="correctSentence40"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend41" [correctSentence]="correctSentence41"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend42" [correctSentence]="correctSentence42"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend43" [correctSentence]="correctSentence43"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend44" [correctSentence]="correctSentence44"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend45" [correctSentence]="correctSentence45"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend46" [correctSentence]="correctSentence46"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend47" [correctSentence]="correctSentence47"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend48" [correctSentence]="correctSentence48"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend49" [correctSentence]="correctSentence49"></app-construct-question>
    <app-construct-question [promptText]="qTellFriend50" [correctSentence]="correctSentence50"></app-construct-question>   