<br>
<table>
    <thead>
      <tr>
        <th>Case</th>
        <th>Masculine</th>
        <th>Feminine</th>
        <th>Neuter</th>
        <th>Plural</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nominative</td>
        <td>ein</td>
        <td>eine</td>
        <td>ein</td>
        <td>keine</td>
      </tr>
      <tr>
        <td>Accusative</td>
        <td>einen</td>
        <td>eine</td>
        <td>ein</td>
        <td>keine</td>
      </tr>
      <tr>
        <td>Dative</td>
        <td>einem</td>
        <td>einer</td>
        <td>einem</td>
        <td>keinen</td>
      </tr>
      <tr>
        <td>Genitive</td>
        <td>eines</td>
        <td>einer</td>
        <td>eines</td>
        <td>keiner</td>
      </tr>
    </tbody>
  </table>