<br>
<table>
    <thead>
      <tr>
        <th>Case</th>
        <th>Masculine</th>
        <th>Feminine</th>
        <th>Neuter</th>
        <th>Plural</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nominative</td>
        <td>mein</td>
        <td>meine</td>
        <td>mein</td>
        <td>meine</td>
      </tr>
      <tr>
        <td>Accusative</td>
        <td>meinen</td>
        <td>meine</td>
        <td>mein</td>
        <td>meine</td>
      </tr>
      <tr>
        <td>Dative</td>
        <td>meinem</td>
        <td>meiner</td>
        <td>meinem</td>
        <td>meinen</td>
      </tr>
      <tr>
        <td>Genitive</td>
        <td>meines</td>
        <td>meiner</td>
        <td>meines</td>
        <td>meiner</td>
      </tr>
    </tbody>
  </table>
